@import url("https://fonts.googleapis.com/css2?family=Mulish&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  width: 100%;
}

:root {
  --primary-color: #363740;
  --secondary-color: #3751ff;
  --gray-color: #a4a6b3;
  --gray-dark: #4b506d;
  --gray-lightest: #f0f1f7;
  --primary-font: "Mulish";
}

.secondary-color {
  color: var(--secondary-color);
}

.gray-color {
  color: var(--gray-color);
}

.task-status {
  padding: 5px 12px;
  font-weight: 700;
  font-size: 11px;
  line-height: 14px;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  border-radius: 8px;
  width: fit-content;
}

.urgent-task {
  background: #fec400;
  color: #fff;
}

.new-task {
  background: #29cc97;
  color: #fff;
}

.default-task {
  background: #f0f1f7;
  color: #9fa2b4;
}

.high-task {
  background: #f12b2c;
  color: #fff;
}

.low-task {
  background: #fec400;
  color: #fff;
}

.normal-task {
  background: #29cc97;
  color: #fff;
}
